section {
    background: beige;

    #p1 {
        text-align: center;
        color: #6c6a01;
        font-size: 36px;
    }
    
    #p2 {
    
        font-size: 26px;
        position: relative;
        justify-self: auto;
        
    }
    
    #lista {
    
        color:#282A35;
        position:relative;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        justify-content: center;
        font-size: 16px;
    }

}