/*----components----*/
body {
  margin: 0;
  background: linear-gradient(to bottom, bisque, beige);
}
body h1 {
  text-align: center;
  font-family: "cursive";
  color: #c98cd2;
  font-size: 50px;
  font-weight: 100;
  margin-top: 0%;
  font-weight: bold;
}
body h2 {
  text-align: center;
  font-family: "Trebuchet MS" "Lucida Sans Unicode" "Lucida Grande" "Lucida Sans" "Arial" "sans-serif";
  color: #c98cd2;
  font-size: 40px;
}
body h3, body .section-clases .clases2 .titulo-clases {
  text-align: center;
  font-family: Arial;
  color: #BE10AE;
  font-size: 30px;
  margin: 1%;
}
body h4 {
  text-align: center;
  font-family: "Cambria" "Cochin" "Georgia" "Times" "Times New Roman" "serif";
  color: #c98cd2;
  font-size: 50px;
}
body .section-clases {
  margin: 40px;
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  box-shadow: 1px 2px 30px 5px black;
  -webkit-box-shadow: 1px 2px 30px 5px black;
  -moz-box-shadow: 1px 2px 30px 5px black;
}
body .section-clases .imagen-clases, body .section-clases .clases2 {
  padding: 30px;
  justify-self: center;
}
body .section-clases .clases2 .titulo-clases {
  line-height: normal;
  text-align: left;
}
body .section-clases .p-clases {
  margin-top: 15px;
  width: 90%;
  text-align: left;
}
body .imagenes-danza {
  text-align: center;
}
body .link-anuncio {
  text-align: center;
  font-size: 35px;
}
body p {
  text-align: left;
  font-family: italic;
  color: #c98cd2;
  font-size: 20px;
}
body a {
  text-align: center;
  font-family: "Cambria" "Cochin" "Georgia" "Times" "Times New Roman" "serif";
  color: #ffb1a5;
  font-size: 30px;
  text-decoration: none;
}

header {
  background-color: rgb(238, 238, 238);
  position: sticky;
  display: block;
  padding: 0;
  height: 56px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header #pagetop {
  -webkit-text-fill-color: #6c6a01;
  margin-top: 0%;
  background-color: bisque;
}

/*----utilities----*/
section #p1 {
  text-align: center;
  color: #6c6a01;
  font-size: 36px;
}
section #p2 {
  text-align: left;
  color: blueviolet;
  font-size: 26px;
  position: relative;
  justify-self: auto;
}

#lista {
  text-align: left;
  color: #282A35;
  font-size: 16px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  justify-content: center;
}

footer {
  background-color: rgb(238, 238, 238);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blueviolet;
  text-align: right;
}

#navmenu {
  position: sticky;
  padding: 5px 15px 5px 15px;
  margin: 0;
  top: 56px;
  background-color: #282A35;
  font-family: "Source Sans Pro Topnav", sans-serif;
  word-spacing: 15px;
  text-decoration: none;
  height: 2.2rem;
  width: 100%;
  letter-spacing: 1px;
  white-space: nowrap;
  z-index: 2;
}
#navmenu .ga-nav {
  font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", "serif";
  font-size: 18px;
  color: #c98cd2;
}
#navmenu #navmenu a {
  display: inline-block;
  line-height: 1.5;
}
#navmenu :hover {
  background-color: black;
  padding: 7px 7px 7px 7px;
  opacity: 1;
}
#navmenu :active {
  background-color: #04aa6d;
  color: #fff;
}/*# sourceMappingURL=style.css.map */