footer{
    background-color:rgba(238,238,238,255) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    text-align: right;

    
    #mayusculas{
    text-transform: uppercase;
    }
}

