    #navmenu{

        position: sticky;
        padding: 5px 15px 5px 15px ;
        margin: 0;
        top: 56px;
        background-color:#282A35;
        font-family: 'Source Sans Pro Topnav', sans-serif;
        word-spacing: 15px;
        text-decoration: none;
        height: 2.2rem;
        width: 100%;
        letter-spacing: 1px;
        white-space:nowrap;
        z-index: 2;
    
    .ga-nav{

        font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
        font-size: 18px;
        color: #c98cd2;

    }

    #navmenu a{

        display: inline-block;
        line-height: 1.5;
    }
        
    :hover{
        background-color: black;
        padding: 7px 7px 7px 7px;
        opacity: 1;
    }
    :active {
        background-color: #04aa6d;
        color: #fff;
    }
}