@mixin formato-texto($text-align,$color,$font-size){
    text-align: $text-align;
    color: $color;
    font-size: $font-size;
}
section {

    #p1 {
        @include formato-texto(center, #6c6a01, 36px);
    }
    
    #p2 {
        
        @include formato-texto(left, blueviolet, 26px);
        position: relative;
        justify-self: auto;
          
        }
    }
    
    #lista {
        
        @include formato-texto(left,#282A35, 16px);
        position:relative;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        justify-content: center;

    }