body{
    margin: 0;
    background: linear-gradient(to bottom,  bisque, beige);

    h1{
        text-align:center ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        color: rgba(201,140,210,255)  ;
        background-color:beige;
        font-weight: 100;
        margin-top: 0%;
    }
    h2{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:#e083a2;
        
    }
    h3{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        color: blueviolet;
    }
    h4{
    
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #c98cd2;
        font-size: 50px;
    }
    .imagenes-danza{

        text-align: center;
    }
    p{
        text-align: left;
        color: rgb(205, 127, 205);
        font-style: italic;
        
    }
    
    a{
        color: #ffb1a5;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        text-align: center;
    
    }
}