header{
    background-color:rgba(238,238,238,255);
    position:sticky;
    display: block;
    padding: 0;
    height: 56px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
        
    #pagetop {
        -webkit-text-fill-color: #6c6a01;
        margin-top: 0%;
        background-color: bisque;
    }
}